# This file gets copied to .env on composer install (https://github.com/symfony/flex/blob/master/src/Flex.php#L289). Apart from the 
# symfony environment variables a set of application environment variables will be added by running `composer get-parameters` command
# before actualy running the application.

APP_ENV=prod
APP_SECRET=iJfer4t7nL4Poq1Kc0JAdYi6QbBL2WCf
